* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav {
  padding: 30px 0;
  background-color: #454444;
}
nav span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
nav span .nav__p2 {
  color: #fff;
  font-weight: 700;
}
nav li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}
nav li p {
  color: #858484;
}
nav .nav__list li img {
  width: 20px;
}

.main__top {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.main__top span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  color: #858484;
  gap: 5px;
}
.main__top span h1 {
  margin-bottom: 10px;
  font-size: 38px;
}
.main__top span p {
  font-size: 20px;
}
.main__top span span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__top span img {
  width: 20px;
  height: 20px;
}
.main__top span:nth-child(2) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.main__top span:nth-child(2) img {
  width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.main__top span form {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  border-radius: 20px;
  background-color: #c6c5c5;
  margin: 15px 0;
}
.main__top span form input {
  background-color: transparent;
  border: none;
  color: #000;
}

.single__top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.single__top ul li {
  list-style-type: none;
}

.product {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}
.product img {
  max-width: 500px;
  width: 100%;
}

.choose-color {
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}
.choose-color img {
  width: 80px;
}

.order .order__count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}
.order .order__count button {
  border: none;
  width: 100%;
  max-width: 150px;
  padding: 20px;
  border-radius: 40px;
}
.order .order__count span {
  color: red;
}
.order .oreder__choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
.order .oreder__choose button {
  border: none;
  width: 100%;
  max-width: 150px;
  padding: 20px;
  border-radius: 40px;
  background-color: #454444;
  color: #fff;
}

@media (min-width: 500px) {
  nav ul {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
}
@media (min-width: 780px) {
  nav ul {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
  }
}